.gradient-background {
  background: linear-gradient(300deg,#252a34,#1b212e,#3a4458,#172746);
  background-size: 240% 240%;
  animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar{
  background-color: transparent;
  --bs-navbar-color: #EAEAEA;
  --bs-navbar-active-color: #EAEAEA;
  --bs-navbar-brand-color: #EAEAEA;
  --bs-navbar-brand-hover-color: #FF2E63;
  --bs-navbar-hover-color: grey;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FFFFFF' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5'/%3E%3C/svg%3E");
  --bs-navbar-toggler-border-color: transparent;
  font-weight: bold;
}


#devlog {
    background-color: #1B1E23; 
    color: #EAEAEA;             
    padding: 2rem;
    margin-top: 2rem;
}
.game-png{
    width: 300px;
    height: auto;
}

.accordion{
  --bs-accordion-btn-color: white;
  --bs-accordion-btn-bg: #252A34;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FFFFFF' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
  --bs-accordion-active-bg: #434B5A;
  --bs-accordion-active-color: white;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FFFFFF' class='bi bi-chevron-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z'/%3E%3C/svg%3E");
}

.btn{
  --bs-btn-border-color: #FF2E63;
  --bs-btn-color: #FF2E63;
  --bs-btn-hover-bg: #FF2E63;
  --bs-btn-hover-border-color: #FF2E63;
  --bs-btn-hover-color: white;
}

.card{
  --bs-card-border-color: #393E46;
  --bs-card-border-width: 2px;
  --bs-card-bg: #EAEAEA;
  transition: 0.2s ease-out;
}

.card:hover{
  --bs-card-border-color: #FF2E63;
  --bs-card-border-width: 2px;
}

.list-group{
  font-weight: 500;
  --bs-list-group-border-color: #252A34;
}

#about{
    background-color: #1B1E23; 
    color: #EAEAEA;             
    padding: 2rem;
}

footer{
  background-color: #1B1E23;
  color: #aaa;
  text-align: center;
  font-size: 0.9rem;
}

.link{
  color: #FF2E63;
  text-decoration: none;
}

.link:hover{
  color: #EAEAEA
}
